// ## fonts
+font(NeutrafaceCondensed-Titling, NeutrafaceCondensed-Titling)
=fcondt
	font-family: 'NeutrafaceCondensed-Titling'
	font-weight: normal
	font-style: normal
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
+font(NeutrafaceDisplayTitling, NeutrafaceDisplayTitling)
=fdt
	font-family: 'NeutrafaceDisplayTitling'
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
+font(NeutrafaceDisplayBold, NeutrafaceDisplayBold)
=fdb
	font-family: 'NeutrafaceDisplayBold'
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	
body
	+fdb
	text-transform: uppercase
	font-size: 13px
	line-height: 20px
	color: #fff 

.out
	position: relative
	overflow: hidden
	height: 100% 
	&:before
		content: ""
		position: absolute
		left: 50%
		margin-left: -300px
		width: 600px
		height: 100% 
		background: url(../img/bg.jpg)
		+cover
.header
	position: absolute
	top: 0
	width: 600px
	height: 110px
	left: 50%
	margin-left: -300px
	background: url(../img/header.jpg) no-repeat
	z-index: 1
	.header__in
		padding: 0 15px 
	
.h1
	margin-bottom: 25px
	font-size: 20px
	+fcondt
.main
	position: relative
	padding: 80px 15px 15px
	text-align: center
	z-index: 2
.steps
	margin-bottom: 5px

@keyframes loader
	from
		transform: rotate(0deg)
	to
		transform: rotate(360deg)	

.loader
	width: 24px
	height: 24px
	border-radius: 50%
	background: url(../img/loader.svg)
	+cover
	animation: loader 600ms infinite linear
	










			
